.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
 justify-content: space-between;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
